* {
  font-family: 'Roboto',
}
:root {
  --white: white; 
  --border: solid 3px rgba(38, 100, 38, 0.469);
  --font-color: rgba(2, 19, 2, 0.469); 
  --background: rgba(38, 100, 38, 0.469); 
}

.header {
	display: flex;
	padding: 17px;
	justify-content: space-between;
	background-color: var(--background);
	color: var(--white);
	
}
.right-header {
	justify-content: space-between;
	display: flex;  
	font-size: medium; 
	
}

.right-header ul li {
	padding-right: 35px;
	display: inline-block;
	
}


.right-header a {
	text-decoration: none;
}

.right-header a:visited {
	color: var(--white);
}

.left-header h1 {
	font-size: 35px;
  color: var(--white);
	
}


.banner img {
	height: 200px;
	width: 100%; 
}
.banner {
	position: relative;

}
.banner p {
	position: absolute;
	bottom: 34px;
	right: 100px;
	color: var(--white);
	font-size: 50px;
	font-family: 'Trebuchet MS';
}


section {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px 30px; 
}

.first-column {
  width: 15%;
  align-items: center;
  display: flex;
  justify-content: center;  
  border-right: var(--border);
  font-size: 35px;
  color: var(--font-color);
}

.second-column {
  width: 85%;
  margin-left: 25px;
}

.work-section .second-column div:last-child{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.big-pic {
  border: var(--border);
  display: block;
  width: 100%;;
  position: relative;
}

.big-pic img {
  width: 100%;
  opacity: 0.2;

}
.big-pic span {
  position: absolute;
  bottom: 34px;
  left: 0px;
  color: var(--font-color);
  font-size: 30px;
  font-family: 'Trebuchet MS';
  background-color: var(--background);
  
}

.picture {
  position: relative;
  flex-wrap: wrap;
  margin-top: 14px;
  border: var(--border);
  max-height: 59%;
  width: 49%;
}

.pic-container {
  width: 100%;
}

.picture img {
  opacity: 0.2;
  width: 100%;
}

.second-column a:hover img {
  opacity: 1;
}

.picture span {
  position: absolute;
  bottom: 34px;
  left: 0px;
  color: var(--font-color);
  font-size: 30px;
  font-family: 'Trebuchet MS';
  background-color: var(--background);
}

.contact {
  width: 85%;
  margin-left: 25px ;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 480px) {
  
}

@media screen and (max-width:1570px) {
  
}

@media screen and (max-width: 809px) {
  .picture {
    width: 100%;
  }
  .picture span, .big-pic span {
    font-size: 15px;
    bottom: 17px;
  }
  .first-column {
    font-size: 17px;
  }
  .banner p {
    bottom: 17px;
    font-size: 20px; 
    right: 33px;
  }

}
  
